@model IEnumerable<ProductViewModel>

<div class="container margin_60_35 @(Model.Count()== 0?"d-none":"")">
    <div class="main_title">
        <h2>One Chxan</h2>
        <span>Mehusllar</span>
        <p>Cum doctus civibus efficiantur in imperdiet deterruisset</p>
    </div>
    <div class="owl-carousel owl-theme products_carousel">
        @foreach (var item in Model)
        {
        <div class="item">

            <partial name="Product/_SingleProduct" model="item" />
            <!-- /grid_item -->
        </div>
        }

        <!-- /item -->
    </div>
    <!-- /products_carousel -->
</div>
<!-- /container -->